    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Hey I'm currently an AI master's student in UGA.</p>
                <p>I'm generally interested in machine learning and deep learning. I'm particularly interested in finding out how application of machine learning and deep learning will help improve academy, industry as well as people's daily life.</p>
                <p>Research topics that I'm interested in include natural language processing, bio-image analysis, and data science.</p>
                <p>I host all my projects on <a href="https://github.com/WeiwenXu21">github</a>. If you want to know a bit more about some projects that I did, you can find information about those projects here on this website.</p>
                <p>I also have a <a href="https://sirjennyxu.wordpress.com/">blog</a> where I talk about papers that I found that are interesting to me and I will provide some of my personal understanding and intuition towards those papers.</p>
                <p>Please feel free to reach me via any way listed below in the contact section!</p>
            </div>
        </div>
    </section>
